#voluntario img{margin-top: 50px;}
#voluntario h1{ margin-top: 15px; text-align: center; font-size: 1.2em; margin-bottom: 5%; font-weight: 700 }
#voluntario h4{text-align: left; margin-left: 5%; margin-bottom: 2%;}


#formulario{
    width: 100%;
    margin: 50px auto; /*centraliza*/
    text-align: center;    
}

#formulario h2, h3{
    font: 22px "Trebuchet MS", tahoma, arial;
    width: 100%;
    float:left;
    text-align: left;
    margin-bottom: 4%;  /*separar*/
  
}

#formulario h3{color: #333; font-size: 17px; margin-bottom: 3%}

#formulario fieldset{
    background: white;
    border: 0 none;
    border-right: 5px;
    -moz-border-right: 5px;
    -webkit-border-right: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;/*fieldset nao pode passar do tamanho border-box: 15px*/
    width: 80%;
    margin: 0 10%; /*centraliza*/

}
input[type=date]{height: 35px; min-width: 50px;
   }

#formulario input, textarea{
    padding: 10px;
    border: 1px solid rgba(255,165,0, 0.9);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px "Trebuchet MS", tahoma, arial;
    color: #228B22;
    margin-bottom: 10px; /*separar inputs*/
}

#formulario .btn_form{
    width: 100px;
    background:#FF8C00;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
   
    margin-right: 5%;

}

#formulario .btn_form:hover{ background:rgba(255,140,0, 0.9); cursor: pointer; }

