#sobre h1{	
	margin-bottom: 2%;
	font-size: 1.2em;
	font-weight:600;
	padding: 4% 2%;
	text-align: center;}

#sobre p{margin-left: 6%; margin-right: 6%; text-align: justify; margin-bottom: 2%;}